*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'arial', sans-serif;
	outline:none;
}

section{

	position: relative;
	width: 100%;
	height:85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

section .main{

	width: 580px;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

section .main .searchbx{

	position: relative;
	width: 100%;
	margin-top: 20px;
}

section .main .searchbx .query{

	width: 100%;
	padding: 13px;
	border: 1px solid #ccc;
	outline:none;
	font-size: 16px;
	border-radius: 30px;
	padding-left: 45px;
	padding-right: 60px;

}

section .main .searchbx .icons{

	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 12px 20px;
	align-items: center;
	pointer-events: none;


}

section .main .searchbx .icons img{

	max-width: 100%;
}

.btns{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.button{

	align-items: center;


}

.searchbtn{

	margin: 0 5px;
	margin-top: 30px;
	margin-left: 25%;
	padding: 12px 10px;
	color: #555;
	font-size:14px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid #ccc;
	outline: none;
	width: 150px;

}

.searchbtn:hover{
		border: 1px solid #ccc;

}


footer{
	width:100%;
	height: auto;
	font-family: sans-serif;
	padding:20px;
	background-color: #e8f5fc;
	box-shadow:6px 6px 10px rgba(164, 216, 243, 0.5),
	-6px -6px 10px rgba(255, 255, 255, 0.6);
}


.Footer-content{
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: #e8f5fc;
	text-align: center;
	flex-direction: column;
}

.Footer-content h3{
	background-color: #e8f5fc;
	font-size: 1.3rem;
	font-weight: 400;
}

.Footer-content span{
	background-color: #e8f5fc;
	max-width: 500px;
	margin: 10px auto;
	font-size: 14px;

}

.symbol{
	display: flex;
	padding: 6px;
}

.first{
	padding: 6px;
}

.second{
	padding: 6px;
}



